@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  background-color: #0B1623;
  /* bg-owl-background */
  color: #F1F5F9;
  /* text-owl-text */
  min-height: 100vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#body {
  background-color: #0B1623;
  /* bg-owl-background */
  color: #F1F5F9;
  /* text-owl-tsext */
  min-height: 100vh;
}

.css-megd3n {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0F172A;
  /* owl.surface */
}

::-webkit-scrollbar-thumb {
  background-color: #3B82F6;
  /* owl.border */
  border-radius: 4px;
  border: 2px solid #0F172A;
  /* borda da thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3B82F6;
  /* owl.accent */
}

/* replay */
.rr-player__frame {
  background-color: #0F172A !important;
  /* ou qualquer cor */
}

.rr-controller {
  background-color: #0F172A !important;
  border-top: 1px solid #213c63;
}

/* Timestamps */
.rr-controller .rr-timestamp {
  color: #94a3b8;
  text-align: center;
}

/* Timeline */
.rr-controller .rr-timeline {
  background-color: #0F172A;
}

.rr-controller .rr-progress__step {
  background: rgb(73, 80, 246) !important;
}

.rr-controller .rr-progress{
  background: transparent !important;
}


.rr-controller .rr-timeline .rr-progress {
  background-color: #6366f1;
}

.rr-controller .rr-timeline .rr-thumb {
  background-color: #6366f1;
}

.rr-controller .rr-timeline__time {
  color: #ffff !important;
}

/* Play/Pause */
.rr-controller button.play,
.rr-controller button.pause {
  background-color: #334155;
}

.rr-controller button.play:hover,
.rr-controller button.pause:hover {
  background-color: #475569;
}

/* Velocidades */
.rr-controller .rr-speed-option button {
  background-color: #334155;
  color: #cbd5e1;
}

.rr-controller__btns.svelte-19ke1iv button{
  fill: #fff !important;
}

.rr-controller .rr-progress {
  background-color: #334155 !important; /* fundo da trilha branca */
  height: 100%;
}

.rr-progress.svelte-19ke1iv.svelte-19ke1iv {
    border-top: solid 4px #0f172a !important;
    border-bottom: solid 4px #0f172a !important;
}


.rr-controller__btns.svelte-19ke1iv.svelte-19ke1iv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    width: 420px;
}

.rr-controller .rr-speed-option button.active {
  background-color: #6366f1;
  color: #fff;
  box-shadow: 0 0 0 2px #818cf8 inset;
}

/* Skip toggle */
.rr-controller .rr-skip {
  color: #cbd5e1;
}

.rr-controller .rr-skip input[type="checkbox"] {
  background: #334155;
}

.rr-controller .rr-skip input[type="checkbox"]::before {
  background: #f1f5f9;
}

.rr-controller .rr-skip input[type="checkbox"]:checked {
  background: #6366f1;
}

.rr-controller .rr-skip input[type="checkbox"]:checked::before {}